@import 'blog.css';
:root{
	--fuenteTitle: 'Fredoka One', system-ui;
	--fuentePost: 'Playfair Display', system-ui;
	--fuenteSubTitle: 'Ubuntu', system-ui;
	--fuenteText: 'Montserrat', system-ui;

	--azul: #00acff;
	--verde: #4ddb4c;
	--naranja: #fc8403;
	--oscuro: #001f2c;
	--gris: #9e9e9e;
	--masOscuro: rgba(0,22,30,1);
	--claro: #afafaf;

	--btn:{
		color: white;
		background: var(--azul);
		border-radius: 2em;
		padding: 1em 2em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
	}

};
@custom-media --tablet (width < 800px);
@custom-media --mobile (width < 500px);
body{
	font-family: 'Playfair Display', system-ui;
	font-family: var(--fuenteText);
}
.Hero{
	background: none;
	display: grid;
	& .imagen{
		background: url(../img/bg.jpg) 50% no-repeat;
		background-size: cover;
		background-attachment: fixed;
		grid-row: 1;
		grid-column: 1;
	}
	& .contenedor{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 2em;
		& .escritor{
			display: grid;
			margin-left: 15em;
			grid-template-columns: 1fr 2fr;
			width: 30%;
			margin-bottom: 1em;
			
			@media (--tablet) {
				margin: 4em 4em 2em;
				width: 50%;
			}
			@media (--mobile) {
				margin: 4em 2em 2em;
				width: 70%;
				align-items: center;

			}
			& .foto{
				& span{
					color: var(--gris);
					background: white;
					font-size: 3rem;
					padding: .5em;
					border-radius: 50%;
					@media (--mobile) {
						font-size: 2rem;
					}
				}
			}
			& .informacion{
				font-family: var(--fuenteText);
				& .nombre{
					color: white;
				}
				& .articulos{
					color: var(--gris);
				}
			}
		}
	}
	& .copy{
	    grid-row: 1;
	    grid-column: 1;
	    margin-left: 20%;
	    display: grid;
	    align-items: end;
	    text-align: left;
	    padding-bottom: 0;
	    grid-template-columns: 1fr;
	    @media (--tablet) {
	    	grid-row: 2;
	    	color: black;
	    	margin: 0 4em;
	    	padding: 0;
	    	display: flex;
	    	height: auto;
	    	flex-direction: column;
	    	& .title{
	    		width: 100%;
	    		color: var(--masOscuro);
	    	}
	    	& .escritor{
	    		margin: 1em 0;
	    	}
	    }
	    @media (--mobile) {
	    	margin: 0 2em;
	    }
	    & .title{
	    	font-family: var(--fuentePost);
	    	text-transform: none;
	    	font-size: 4rem;
	    	width: 80%;
	    }
	    & .escritor{
	    	margin-left: 6.6em;
	    	margin-top: 1em;
	    	color: var(--gris);
	    	& .informacion{
	    		& .comentarios{
	    			margin-right: 2em;
	    			position: relative;
	    			&:before{
	    				content: '';
						position: absolute;
						width: 7px;
						height: 7px;
						background: var(--gris);
						border-radius: 50%;
						right: calc(7px - 1.7em);
						top: 40%;
	    			}
	    		}
	    	}
	    }
	}
}
.post{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 0 7em;
	@media (--mobile) {
		padding-top: 0;
	}
	& p{
		width: 70%;
		font-size: 1.2rem;
		font-family: var(--fuentePost);
		color: var(--masOscuro);
		@media (--tablet) {
			width: 80%;
		}
		@media (--mobile) {
			width: 90%;
		}
	}
	& .foto{
		width: 80%;
		height: 500px;
		overflow: hidden;
		@media (--mobile) {
			width: 100%;
			height: auto;
		}
	}
}
