<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Aprende Facil
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.Hero
		header.header
			nav.navbar
				figure.logo
					img.img(src="img/logo.png", alt="logo")
				ul.menu
					li.item
						a(href="/") Inicio
					li.item
						a(href="clases.html") Clases
					li.item
						a(href="#") Blog
					li.item
						a(href="contacto.html") Contacto
				a.btn(href="#") Iniciar Sesión
		.copy
			h1.title Aprende sin importar nada
			p.call Si quieres impulsar tu carrera o tu vida personal entonces estas en el lugar correcto. Aprende para poder seguir adelante.
			a.btn(href="#") Empieza ahora
	