<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Aprende Facil
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.Hero
		header.header
			nav.navbar
				figure.logo
					img.img(src="img/logo.png", alt="logo")
				ul.menu
					li.item
						a(href="/") Inicio
					li.item
						a(href="clases.html") Clases
					li.item
						a(href="#") Blog
					li.item
						a(href="contacto.html") Contacto
				a.btn(href="#") Iniciar Sesión
		.copy
			h1.title Aprende sin importar nada
			p.call Si quieres impulsar tu carrera o tu vida personal entonces estas en el lugar correcto. Aprende para poder seguir adelante.
			a.btn(href="#") Empieza ahora
	section.Servicios
		.elegir
			select
				option(value="sistemas") Industria a estudiar
				option(value="sistemas") Ing Sistemas
				option(value="sistemas") Ing Sistemas
			select
				option(value="sistemas") Nombre de la Carrera
				option(value="sistemas") Ing Sistemas
				option(value="sistemas") Ing Sistemas
			a.btn(href="#") Buscar
		.contenedor
			.item
				.span.icono.fas.fa-laptop
				h3.title Ing Sistemas
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fa
				h3.title Ing Quimica
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-industry
				h3.title Ing Industrial
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-tint
				h3.title Ing Petroleo
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-pencil-alt
				h3.title Diseño
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-code
				h3.title Desarrollo Web
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fab.fa-facebook-f
				h3.title Marketing
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-heartbeat
				h3.title Medicina
				a.btn(href="#") Epezar a aprender
	section.Objetivos
		h1.title Cumplimos con tres objetivos
		.contenedor
			.item
				.icono.fas.fa-user
				h4.subtitle Ayudamos a universitarios
				p.descripcion En aprende facil, grabamos las clases que veras en toda la carrera para que tengas acceso a ella cuando cueras y cuantas veces quieras; así podras repasar las clases vistas y adelantarte con las clases que vienen.
			.item
				.icono.fas.fa-user
				h4.subtitle Enseñamos al que no puede
				p.descripcion Como muchas universidades estan cerrando en Venezuela, los estudiantes que quieren aprender por su cuenta podran acceder a la plataforma y formarse con la pensa de las universidades.
			.item
				.icono.fas.fa-users
				h4.subtitle Ayudamos al que quiere
				p.descripcion En la plataforma encontraras cursos de marketing, diseño, desarrollo web, programación y estamos asociados con empresas para que estas les brinden el trabajo para poder vivir en las mejores condiciones
	