<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Aprende Facil
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	style.
		@font-face{font-family:Montserrat;font-style:normal;font-weight:400;src:local("Montserrat Regular"),local(Montserrat-Regular),url(//fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzw.eot#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhzQ.woff) format("woff")}@font-face{font-family:Montserrat;font-style:normal;font-weight:600;src:local("Montserrat SemiBold"),local(Montserrat-SemiBold),url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-g.eot#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-A.woff) format("woff")}@font-face{font-family:Montserrat;font-style:normal;font-weight:700;src:local("Montserrat Bold"),local(Montserrat-Bold),url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-g.eot#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff) format("woff")}@font-face{font-family:Ubuntu;font-style:normal;font-weight:400;src:local("Ubuntu Regular"),local(Ubuntu-Regular),url(//fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw7y.eot#) format("eot"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format("woff2"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw7w.woff) format("woff")}@font-face{font-family:Ubuntu;font-style:normal;font-weight:700;src:local("Ubuntu Bold"),local(Ubuntu-Bold),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyJ.eot#) format("eot"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format("woff2"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyL.woff) format("woff")}@font-face{font-family:Fredoka One;font-style:normal;font-weight:400;src:local("Fredoka One"),local(FredokaOne-Regular),url(//fonts.gstatic.com/s/fredokaone/v5/k3kUo8kEI-tA1RRcTZGmTlHGCaM.eot#) format("eot"),url(//fonts.gstatic.com/s/fredokaone/v5/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format("woff2"),url(//fonts.gstatic.com/s/fredokaone/v5/k3kUo8kEI-tA1RRcTZGmTlHGCaE.woff) format("woff")}body{font-family:Fredoka One,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;font-family:Ubuntu,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Droid Sans,Helvetica Neue;font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;margin:0;overflow-x:hidden}.Hero{background:url(../img/bg.jpg) 50% no-repeat;background-size:cover;background-attachment:fixed}.Hero .contenedor{background:#000;background:rgba(0,0,0,.5)}.Hero .header .navbar{padding:1em 4em;display:flex;justify-content:space-between;align-items:center}.Hero .header .navbar .logo{margin:0;padding:0;width:10%}.Hero .header .navbar .logo .img{width:100%}.Hero .header .navbar .menu{display:flex;list-style:none}.Hero .header .navbar .menu .item a{text-decoration:none;padding:1em;text-transform:uppercase;color:#fff}.Hero .header .navbar .btn{color:#fff;background:#00acff;border-radius:2em;padding:1em 2em;text-decoration:none;text-transform:uppercase;font-weight:600}.Hero .header .navbar .burger{display:none;z-index:3}.Hero .copy{text-align:center;color:#fff;display:flex;flex-direction:column;align-items:center;justify-content:center;height:85vh;box-sizing:border-box;padding-bottom:5em}.Hero .copy .title{font-size:48px;font-size:3rem;font-family:Fredoka One,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;text-transform:uppercase;margin-bottom:.4em}.Hero .copy .call{font-size:1.2em;width:60%;margin-bottom:2em}.Hero .copy .btn{color:#fff;background:#00acff;border-radius:2em;padding:1em 2em;text-decoration:none;text-transform:uppercase;font-weight:600;font-size:19.2px;font-size:1.2rem}.Servicios{padding-bottom:3em}.Servicios .elegir{background:#fff;box-shadow:0 8px 12px 0 #f3f3f3;width:80%;display:flex;justify-content:space-around;align-items:center;margin:-3.5em auto 0;padding:2em 4em;box-sizing:border-box;border-radius:5px}.Servicios .elegir select{border:none;background:#e5f7ff;padding:1em 2em;font-size:16px;font-size:1rem;font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#9e9e9e;border-radius:2em}.Servicios .elegir .btn{color:#fff;background:#00acff;border-radius:2em;padding:1em 2em;text-decoration:none;text-transform:uppercase;font-weight:600}@media (max-width:499px){.Hero .header .navbar{padding:1em 2em}.Hero .header .navbar .btn{font-size:.7rem}.Hero .copy .title{font-size:2.2rem}.Hero .copy .call{font-size:1em}.Servicios .elegir{display:none}}@media (max-width:799px){.Hero .header .navbar .logo{width:20%;width:25%}.Hero .header .navbar .menu{position:fixed;background:#89da59;background:rgba(137,218,89,.6);width:100%;height:100%;left:0;top:0;flex-direction:column;align-items:center;justify-content:center;display:none;margin:0;padding:0;z-index:2}.Hero .header .navbar .menu .item{margin-bottom:2em}.Hero .header .navbar .menu .item a{font-size:2rem;color:#000;font-weight:600}.Hero .header .navbar .burger{display:block}.Hero .header .navbar .burger button{background:none;border:none;color:#fff;font-size:2rem}.Hero .copy{padding:0 4em;padding:0 2em;padding-bottom:8em}.Hero .copy .call,.Servicios .elegir{width:90%}.Servicios .elegir select{padding:1em}}
body
	section.Hero
		.contenedor
			header.header
				nav.navbar
					figure.logo
						img.img(src="img/logo.png", alt="logo")
					ul.menu#menu
						li.item
							a(href="index.html") Inicio
						li.item
							a(href="clases.html") Clases
						li.item
							a(href="blog.html") Blog
						li.item
							a(href="contacto.html") Contacto
					.boton
						a.btn(href="login.html") Iniciar Sesión
					.burger
						button.fa.fa-bars#button

			.copy
				h1.title El conocimiento te lleva al triunfo
				p.call Si quieres impulsar tu carrera o tu vida personal entonces estas en el lugar correcto. Aprende para poder seguir adelante.
				a.btn(href="#") Empieza ahora
	section.Servicios
		.elegir
			select
				option(value="sistemas") Industria a estudiar
				option(value="sistemas") Ing Sistemas
				option(value="sistemas") Ing Sistemas
			select
				option(value="sistemas") Nombre de la Carrera
				option(value="sistemas") Ing Sistemas
				option(value="sistemas") Ing Sistemas
			a.btn(href="#") Buscar
		.contenedor
			.item
				.span.icono.fas.fa-laptop
				h3.title Ing Sistemas
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fa
				h3.title Ing Quimica
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-industry
				h3.title Ing Industrial
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-tint
				h3.title Ing Petroleo
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-pencil-alt
				h3.title Diseño
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-code
				h3.title Desarrollo Web
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fab.fa-facebook-f
				h3.title Marketing
				a.btn(href="#") Epezar a aprender
			.item
				.span.icono.fas.fa-heartbeat
				h3.title Medicina
				a.btn(href="#") Epezar a aprender
	section.Objetivos
		h1.title Cumplimos con tres objetivos
		.contenedor
			.item
				.icono.fas.fa-user
				h4.subtitle Ayudamos a universitarios
				p.descripcion En aprende facil, grabamos las clases que veras en toda la carrera para que tengas acceso a ella cuando puedas y cuantas veces quieras; así podras repasar las clases vistas y adelantarte con las clases que vienen.
			.item
				.icono.fas.fa-user
				h4.subtitle Enseñamos al que no puede
				p.descripcion Como muchas universidades estan cerrando en Venezuela, los estudiantes que quieren aprender por su cuenta podran acceder a la plataforma y formarse con la pensa de las universidades.
			.item
				.icono.fas.fa-users
				h4.subtitle Ayudamos al que quiere
				p.descripcion En la plataforma encontraras cursos de marketing, diseño, desarrollo web, programación y estamos asociados con empresas para que estas les brinden el trabajo para poder vivir en las mejores condiciones
	section.Mejores
		h2.title Las mejores clases
		.contenedor
			a.item(href="#")
				.header.load
					.loader
						.circulo
						.movimiento
					img(data-src="img/curso-01.jpg", alt="clase").b-lazy
				.body
					h4.subtitle Titulo del curso
					span.profesor Nombre Profesor
					p.descripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum debitis magnam praesentium sunt.
					ul.caracteristicas
						li.item
							span.icono.fas.fa-file
							span.tipo Tipo
						li.item
							span.icono.fas.fa-user
							span.tipo Puntos
						li.item
							span.icono.fas.fa-sitemap
							span.tipo Nivel
			a.item(href="#")
				.header.load
					.loader
						.circulo
						.movimiento
					img(data-src="img/curso-02.jpg", alt="clase").b-lazy
				.body
					h4.subtitle Titulo del curso
					span.profesor Nombre Profesor
					p.descripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum debitis magnam praesentium sunt.asperiores eum eveniet. Placeat.
					ul.caracteristicas
						li.item
							span.icono.fas.fa-file
							span.tipo Tipo
						li.item
							span.icono.fas.fa-user
							span.tipo Puntos
						li.item
							span.icono.fas.fa-sitemap
							span.tipo Nivel
			a.item(href="#")
				.header.load
					.loader
						.circulo
						.movimiento
					img(data-src="img/curso-03.jpg", alt="clase").b-lazy
				.body
					h4.subtitle Titulo del curso
					span.profesor Nombre Profesor
					p.descripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum debitis magnam praesentium sunt.
					ul.caracteristicas
						li.item
							span.icono.fas.fa-file
							span.tipo Tipo
						li.item
							span.icono.fas.fa-user
							span.tipo Puntos
						li.item
							span.icono.fas.fa-sitemap
							span.tipo Nivel
	footer.footer
		.body
			.item
				img.img(src="img/logo-expand.png", alt="logo")
				p.descripcion  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia architecto esse optio doloremque similique
			.item
				h3.title Más Información
				ul.info
					li.item
						a(href="contacto.html") Contacto
					li.item
						a(href="blog.html") Blog
					li.item
						a(href="registro.html") Crear Cuenta
					li.item
						a(href="login.html") Iniciar Sesión
			.item
				h3.title Sociales
				ul.social
					li.item
						a(href="#")
							span.fab.fa-facebook
					li.item
						a(href="#")
							span.fab.fa-twitter
					li.item
						a(href="#")
							span.fab.fa-instagram
		.copy
			p!= "&copy; Copyright 2018. diseño y Desarollo por <a href='http://jesusrojas.com.ve' target='_blank'>Jesús Rojas<a>"
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
	script(src="js/blazy.min.js")
	script(src="js/index.js")
